//- header 
//-     nav 
//-         a(href='/home'): li Home 
//-         a(href='/login'): li Login
//-         a(href='/signUp'): li SignUp 
//-         a(href='/products'): li Products
//-         a(href="/"): li 
//-                         form(action="/api/logout" method="POST" class="logout")
//-                             input(type="submit" value="Logout" class="logout")   