doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 JWT Nodemailer Workshop
        p API REST of user login/sign-up, logout and view and edit a list of products with with Node.js, Express and MongoDB using jwt(jsonwebtoken) authentication and Nodemailer to reset and recover password
        h3 Libraries
        ul 
            li Express
            li Bcrypt
            li Nodemailer
            li Dotenv
            li Jsonwebtoken
            li Mongoose
            li Nodemailer
            li Pug