//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(http-equiv="X-UA-Compatible", content="IE=edge")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title SignUp
//-     body 
//-         include ./header.pug
//-         h2 SignUp 
//-         form(action="/api/signup" method="POST")
//-             div                      
//-                 input(type="text" placeholder="Username" name="username")                        
//-                 input(type="email" placeholder="Email" name="email")                            
//-                 input(type="password" placeholder="Password" name="password")                            
//-                 button(type="submit") SignUp